/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Variables */
:root {
    --main-color: #647bff; 
    --body-color: #090a19; 
    --container-color: #171b3c; 
    --heading-color: #e7f5fe; 
    --box-color: #0d0f26; 
    --bg-color: #fff; 
    --text-color: #222;
    --glow-primary: #8f00ff;
    --glow-success: #86dc3d;
    --glow-danger: #c21808;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.5s;
    color: var(--body-color);
    background: var(--body-color);
}

.heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin: 4rem auto 2rem;
}

#icon {
    width: 30px;
    cursor: pointer;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--heading-color);
}

img{
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a {
    text-decoration: none;
    color: var(--bg-color);
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    margin: auto;
    width: 100%;
}

/* Loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}
  
.wheel {
    fill: rgb(128, 128, 128);
    font-size: 100px;
    width: 200px;
    height: 200px;
    border-radius: 6em;
    text-align: center;
    animation: rolling 1s linear infinite;
}
  
#rim {
    fill: rgb(126, 126, 126);
}
  
#tire {
    fill: rgb(55, 55, 55);
}
  
@keyframes rolling {
    to {
      transform: rotate(-360deg);
    }
}
  
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active {
    background: var(--box-color);
    transition: 0.4s;
}

.nav {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center; 
    column-gap: 1.5rem;
}

.navbar li{
    text-align: right;
}

.nav-link {
    position: relative;
    font-size: 0.94rem;
    padding: 4px 8px;
    color: var(--bg-color);
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--bg-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .btnLogin-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--bg-color);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.94rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}

.navbar .btnLogin-popup:hover {
    background: var(--bg-color);
    color: var(--body-color);
}

.logout i{
    margin: 7px;
    font-size: 20px;
}
  
.logout span {
    color: var(--main-color);
    margin: 5px;
    font-size: 1.34rem;
    font-weight: bold;
    text-transform: capitalize;
}
  
.logout li ul {
    position: absolute;
    display: block;
    background-color: var(--container-color);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px;
    display: none;
}
  
.logout li:hover ul {
    display: block;
}
  
.logout li ul li {
    line-height: 1;
    width: 150px;
    border-radius: 5px;
    padding: 6px;
}
  
.logout li ul li a {
    padding: 8px 15px;
    float: left;
}
  
.logout li ul li a:hover {
    background-color: var(--box-color);
    border-radius: 0px 0px 10px 10px;
    padding: 8px 15px;
}

/* Menu Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px,5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px,-5px);
}

/* form */
.wrapper {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: var(--bg-color);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 9999;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 600px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--bg-color);
    font-size: 2em;
    color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}

.wrapper .icon-close:hover {
    background: var(--body-color);
    color: var(--bg-color);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--body-color);
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--body-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 3px;
    font-size: 1.2em;
    color: var(--text-color);
    line-height: 57px;
    padding: 15px;
}

.remember-forgot {
    font-size: .9em;
    color: var(--text-color);
    font-weight: 500;
    margin: -15px  0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--text-color);
    margin-right: 3px;
    cursor: pointer;
}

.remember-forgot a {
    color: var(--text-color);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--body-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--bg-color);
    font-weight: 500;
}

.login-register {
    font-size: .9rem;
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    padding: 5px;
    color: var(--text-color);
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.wrapper .form-box.register form select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--body-color);
    font-weight: 600;
    padding: 10px 10px;
    background: var(--heading-color);
    border-radius: 5px;
    margin: 20px 0;
}

.wrapper .form-box.register form select option {
    background: var(--heading-color);
    color: var(--body-color);
    border-radius: 5px;
}

.wrapper .form-box.register form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: var(--bg-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

/* Home */
.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../../assets/admin/images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-content {
    width: 90%;
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-content h1 {
    font-size: 62px;
}

.home-content h1 span {
    color: var(--main-color);
}

.home-content p {
    margin: 10px auto 40px;
    font-size: 16px;
    width: 45%;
    text-align: center;
}

.emailForm div {
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    column-gap: 0.5rem;
  }

.emailForm div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255 );
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
}
  
.emailForm div input::placeholder {
    color: rgb(216, 212, 212);
}

.emailForm div input:focus {
    border: 1px solid var(--main-color);
}
  
.emailForm div button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: var(--main-color);
    border-radius: 0.375rem;
    border: none;
    outline: none;
    cursor: pointer;
}

/* flexing cards */
.cards {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    left: 50%;
}

.cards-content {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 200px;
    border-radius: 50px;
    color: var(--bg-color);
    cursor: pointer;
    margin: 15px;
    position: relative;
    transition: all 700ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel h3 {
    font-size: 23px;
    margin: 0;
    opacity: 1;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.panel.active {
    flex: 10;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .cards-content {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

/* Cars cards */
.cars {
    max-width: 1500px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.cars .card {
    position: relative;
    width: 20em;
    height: 25.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--box-color);
    padding: 0.5em;
    padding-bottom: 3.4em;
    margin-bottom: 30px;
    margin-right: 15px;
}

.cars .add-to-cart-button {
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 3.8em;
    width: 100%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cars .card:hover .add-to-cart-button {
    bottom: 0;
    opacity: 1;
}

.cars .card:active .add-to-cart-button {
    content: "Added !";
    height: 3.125em;
}

.cars .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 4.2em;
    font-weight: bold;
    color: var(--bg-color);
}

.cars .card .desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: .625em;
    bottom: 2.875em;
    color: var(--bg-color);
}

.cars .card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: var(--bg-color);
}

.cars .card .rate {
    position: absolute;
    left: 27%;
    bottom: 5.5em;
    display: flex;
    align-items: center;
    color: gold;
}

.cars .card .rate i {
    font-size: 1.5em;
    margin-right: 7px;
}

.cars .card:hover::after {
    bottom: 0;
    opacity: 1;
}

.cars .card:active {
    transform: scale(0.98);
}

.cars .card:active::after {
    content: "Added !";
    height: 3.125em;
}

.cars .text {
    max-width: 55px;
}

.cars .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

.cars .image img {
    height: 20vh;
}

/* Contact Form */
.contact {
    clear: both;
    text-align: center;
    margin-top: 30px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.4rem;
}

.contact-form .send-btn {
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
    color: #fff;
}

.contact-form .send-btn:hover {
    background: #546eff;
    transition: 0.3s all linear;
}

/* Profile */
.profile {
    color: var(--bg-color);
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    max-width: 960px;
    margin: 0 auto; /* Added margin auto to center the section horizontally */
}

.profile-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #98a7fc;
    overflow: hidden;
    margin-bottom: 2rem;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.profile-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.profile-text h3::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50px);
    left: 20px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.profile-text h3::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50px);
    right: -80px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.profile-text h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;   
}

.profile-text p {
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
}

.profile-text .color {
    color: var(--main-color);
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover {
    background: var(--main-color);
    transition: 0.3s all linear;
}

/* About Us */
.heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.about {
    max-width: 960px;
    color: var(--bg-color);
    height: 83vh;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-text .color {
    color: var(--main-color);
}

.about-data h2 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}

.cvbtn {
    font-size: 0.97rem;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
}

.cvbtn .bi {
    font-size: 1rem;
    margin: 5px;
}

.cvbtn:hover {
    background: #546eff;
    transition: 0.3s all linear;
}

.about-text p{
    font-size: 0.938rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* Book cars */
.cart-page {
    margin: 80px auto;
}

table {
    width: 70vw;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px 10px 5px 20px; /* Adjust the left padding value as per your preference */
    color: var(--bg-color);
    background: var(--container-color);
    font-size: 1rem;
    font-weight: bold;
}

td {
    padding: 10px 5px;
    color: var(--bg-color);
    font-size: 1rem;
}


td .remove {
    color: var(--glow-danger);
    font-size: 1rem;
}

td p {
    font-weight: bold;
}

td p, td small {
    color: var(--bg-color);
    font-size: 1rem;
}

td img {
    width: 140px;
    height: 100px;
    margin-right: 20px;
}

select::-ms-expand {
    display: none;
}

select {
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
    background: var(--bg-color);
    color: var(--box-color);
}

.select {
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    line-height: 3;
    background: var(--bg-color);
    overflow: hidden;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: -5;
    right: 0;
    padding: 0 1em;
    background: var(--container-color);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

/* book now button */
form .book_button {
    font-size: 1rem;
    background: none;
    padding: 5px;
    color: var(--bg-color);
    background-color: none;
    border: none;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

form .book_button:hover {
    background: var(--glow-success);
    box-shadow: 0 0 35px var(--glow-success);
    color: #fff;
    border-radius: 5px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}

.footer p {
    font-size: flex;
}

.footer-links {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-links a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--bg-color);
}

.footer-links a:hover {
    color: var(--main-color);
    transition: 0.3s all linear;
}


/* Making Responsive */
@media (max-width: 990px){
    .container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 892px){
    .nav {
        padding: 12px;
    }
}

@media (max-width: 775px){
    .logo {
        font-size: 1.1rem;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu {
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-link {
        display: block;
        margin: 1rem 0;
    }
}

@media (max-width: 325px) {
    .navbar {
        width: 100%;
    }
}